@import url(../css/font.css);
@import url(../css/reset.css);

html {
  font-size: 18px;
}
img {
  width: 100%;
}
body {
  color: var(--color-text);
  font-family: var(--font-base);
}

.MiraeN {
}
:root {
  --content-width: 66.6667rem;

  /* color */
  --color-primary: #ff6f91;
  --color-text: #333;
  --color-white: #fff;

  /* layout */
  --content-width: 1200px;

  /* font */
  --font-base: "Pretendard", sans-serif;

  /* radius */
  --radius-sm: 8px;
  --radius-md: 16px;
}
.sect_inner {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

.video_sect {
  background: #fdd7e3;
}
.inner {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}
/* top_banner */
.top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.8887rem;
  line-height: 3.8887rem;
  font-size: 1.555rem;
  font-family: "YeogiOttaeJalnan";
  text-align: center;
  background: #ff8aab;
  color: #fff;
}
.btn_first {
  width: 132px;
  height: 42px;
  margin-right: 20px;
  /* align-self: center; */
  font-size: 0;
  line-height: 70px;
  background: url(../images/first_btn.svg) no-repeat 0 100%;
  background-size: 100% 100%;
}
.highlight {
  position: relative;
  position: relative;
  color: #fffe8d;
  /* font-size: 2.53vw; */
  background: url(../images/top_underline.svg) no-repeat 0 100%;
  margin: 0 0.5rem;
}
.top-banner-text {
  /* max-width: 66.6667rem; */
  /* margin: 0 auto; */
  white-space: nowrap;
}
/* intro_sect */
.intro_sect {
  position: relative;
  background: url(../images/graphic.png) no-repeat 50% 100%;
  /* background: url(../images/top.png) no-repeat 50% 100%; */
  /* background: url(../images/sec_introBg.png) no-repeat 50% 100%; */
  background-size: 100% auto;
  background-size: cover;
  padding-top: 40px;
  padding-top: 2.05%;
  padding-top: 2.05vw;
  padding-bottom: 2vw;
  height: 100%;
}
.intro_sect .sect_inner {
  position: relative;
  aspect-ratio: 1200 / 922;
}
.intro_heading {
  width: 69%;
  margin: -2% auto;
  margin: -2.5% 15%;
}
.intro_character {
  width: 66.76%;
  margin: -2% auto;
  margin: 0% 10%;
}
.intro_image {
  position: absolute;
  width: 84.1%;
  top: -1.4%;
}
.intro_guide {
  position: absolute;
  bottom: -20%;
  z-index: 5;
}
header {
  max-width: var(--content-width);
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.logo {
  margin-right: auto;
}

.btn_login {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 100px;
  box-sizing: border-box;
}
.ci {
  margin-left: 1.329rem;
}
.quick_menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  right: 0;
  top: 16rem;
  right: 2.55rem;
  width: 7.86rem;
  height: 15.5rem;
}
.quick_link {
  font-size: 0;
}

/* brand_sect */
.brand_sect {
  position: relative;
  z-index: 1;
  padding-top: 20.55vw;
  padding-top: 15.6%;
  padding-bottom: 128px;
  background: #b0eeaf;
}

.holiday-section {
  position: relative;
  width: 100%;
  height: 59vw;
  max-height: 845px;
  /* height: 45.278rem; */
  /* margin-bottom: 30px; */
  /* margin-bottom: 1.67rem; */
  /* background: url(../images/holidday2.png);
  background-position: 100%;
  background-size: auto;
  background-repeat: no-repeat; */
}
.holiday-section img {
  width: 100%;
}
.holiday-heading {
  max-width: 1116px;
  /* max-width: 1116px; */
  /* height: 13.61rem; */
  text-align: center;
  width: 77.5vw;
  margin: 0 auto;
  width: 93%;
}
.bubble-wrap {
  position: relative;
  width: 74.5vw;
  max-width: 1126px;
  max-height: 595px;
  height: 39.6vw;
  /* width: min(74.5%, 1126px); */
  aspect-ratio: 1126 / 595;
  background: url(../images/newspaper_bg.png);
  background-position: center center;
  background-size: contain;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.bubble {
  position: absolute;
  font-size: 0;
  opacity: 0;
  transform: translateY(25px) scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.bubble.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.bubble.news1 {
  width: 40vw;
  max-width: 520px;
  top: 10%;
  right: 7.5%;
}
.bubble.news2 {
  display: block;
  width: 32.5rem;
  width: 38vw;
  height: 100%;
  max-width: 550px;
  top: 34%;
  left: 1%;
}
.bubble.news2::before {
  position: absolute;
  content: "";
  top: -16%;
  left: 12%;
  width: 10rem;
  width: 16%;
  height: 10rem;
  background: url(../images/news_character01.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}
.bubble.news3 {
  width: 29vw;
  max-width: 667px;
  right: 10%;
  bottom: 6%;
}
.bubble.news3::before {
  position: absolute;
  content: "";
  top: 34.1%;
  left: 68%;
  width: 17.25rem;
  width: 55%;
  width: 20.5vw;
  max-width: 310px;
  height: 13.7rem;
  background: url(../images/news_character02.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}

form {
  max-width: var(--content-width);
  margin: 0 auto;
}
.form-panel {
  width: 100%;
  margin: 0 auto;
  padding: 4.44445rem 3.33325rem;
  margin-bottom: 2.775rem;
  background: #fff;
  background-image: url("../images/form01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.form-title {
  font-size: 1.77775rem;
  /* font-size: 1.27775rem; */
  font-weight: bold;
  font-family: "GMarketSans";
  word-break: keep-all;
  margin-bottom: 1.777rem;
  letter-spacing: -0.071rem;
}
.form-title .form-desc {
  margin-left: 0.44rem;
}
.form-desc {
  font-size: 1.11rem;
  font-weight: normal;
}
.form-option:last-of-type .form-desc {
  display: block;
  font-size: 1.33rem;
  margin-left: 0;
  margin-top: 0.88rem;
}
.form-group {
  padding-bottom: 44px;
  margin-bottom: 44px;
  /* border-bottom: 1px solid #9e9e9e; */
  background: url(../images/form-divide.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.form-list {
}
.form-options--chk {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 840px;
  font-size: 1.333rem;
  gap: 0.88rem;
}
.form-options--radio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.333rem;
  gap: 0 1.333rem;
}
.form-options--chk .form-option {
  position: relative;
  max-width: 11rem;
  width: 100%;
  width: 11rem;
  height: 2.7rem;
}
.form-options--radio .form-option {
  position: relative;
  margin-left: 1.66645rem;
}
.form-option-ipn {
}
@media (max-width: 1199.98px) {
  html {
    font-size: 16px;
  }
  .sect_inner {
    width: 94%;
  }
}
/* input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  content: "";
  width: 11rem;
  height: 2.7rem;
  border: 1px solid;
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  display: none;
}
input[type="checkbox"]:checked + label {
  display: block;
  content: "";
  width: 11rem;
  height: 2.7rem;
  border: 1px solid saddlebrown;
  background: #ddd;
}
input[type="checkbox"] + label::after {
  transition: all 0.5s;
}
input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 11rem;
  height: 2.7rem;
  top: 0;
  left: 0;
  color: aquamarine;
  background: blue;
  background-size: 100% 100%;
} */
/* checkbox / radio 기본 UI 숨김 */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  pointer-events: none;
}
input[type="checkbox"]:checked {
  /* 체크됐을 때 label 디자인 */
}
input[type="checkbox"]:checked + label {
  /* 체크됐을 때 label 디자인 */
}
.form-option input[type="checkbox"] + label {
  display: block;
  width: 11rem;
  height: 2.7rem;
  line-height: 2.7rem;
  border: 1px solid #666666;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}
.form-option input[type="checkbox"]:checked + label {
  font-weight: 700;
  color: #02a39f;
  background: rgba(2, 163, 159, 0.1);
  border-color: #02a39f;
}
.form-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.form-option input[type="radio"]::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #888;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
}
.form-option input[type="radio"]::before + label {
  /* position: relative;
  display: block;
  display: inline-flex;
  align-items: center;
  content: "";
  width: 20px;
  height: 20px;
  gap: 8px;
  cursor: pointer; */
}
.form-option input[type="radio"]:checked + label {
  background: #b86b6b;
}

.form-input::placeholder {
  color: #c3c3c3;
}
.form-input_box {
  width: 26.71rem;
  height: 3.32rem;
  background-image: url("../images/form-inpBox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.form-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 1.217rem;
  border: 0;
  outline: 0;
  background: transparent;
}
.form-textarea_box {
  position: relative;
  width: 100%;
  height: 12.15rem;
}
.form-textarea {
  width: 100%;
  height: 100%;
  padding: 1rem 1.217rem;
  background: #fff;
  background-image: url("../images/form-textareaBox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}
.fomr_texarea-count {
  position: absolute;
  font-size: 1.09rem;
  color: #555555;
  bottom: 1rem;
  right: 1.217rem;
}
.form-submit {
  display: block;
  width: 31.2rem;
  height: 5.55rem;
  font-family: "GMarketSans";
  font-size: 2.775rem;
  font-weight: 700;
  color: #333333;
  background: #fded7c;
  border: 1.5px solid #333333;
  border-radius: 99999px;
  box-shadow: 0 4px 0 0 rgba(51, 51, 51, 1);
  margin: 0 auto;
}

/* video */
.video_sect {
  position: relative;
}
.video_sect {
  padding-top: 4vw;
  padding-bottom: 5vw;
}
.video-heading {
  max-width: 1028px;
  width: 53.45vw;
  width: 85.7%;
  text-align: center;
  margin: 0 auto;
}
.video-card {
  position: relative;
  /* width: 62.5vw; */
  /* top: 331px; */
  /* left: 270px; */
  /* max-width: 1200px; */
  width: 98%;
  /* height: 49vw; */
  /* max-height: 939px; */
  /* background-image: url(../images/videoBoxBg.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 10;
  display: block;
}
video {
  position: absolute;
  left: 4%;
  top: 9%;
  width: 92%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
}
.video-card__clip {
  position: absolute;
  top: 3.5%;
  left: 6.7%;
  width: 40px;
  width: 2rem;
  z-index: 2;
}
.video-card__poster {
  position: absolute;
  left: 4%;
  top: 9%;
  width: 92%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
  z-index: 2;
}
.video-card__btn {
  position: absolute;
  left: 50%;
  top: 38%;
  width: 9%;
  height: 12%;
  transform: translate(-50%, -50%);
  background-image: url("../images/btn_play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  z-index: 3;
}

.subject_sect {
  padding-top: 5.22vw;
  background-image: url(../images/subBg.png);
  background-image: url(../images/subBg2.png);
  background-size: 100% auto;
  padding-bottom: 7.84vw;
  position: relative;
  /* background: url(../images/graphic.png) no-repeat 50% 100%; */
  /* background: url(../images/top.png) no-repeat 50% 100%; */
  /* background: url(../images/sec_introBg.png) no-repeat 50% 100%; */
  background-size: 100% auto;
  background-size: 100% auto;
  aspect-ratio: 1200 / 980;
  padding-top: 40px;
  padding-top: 2.05%;
  padding-top: 4%;
  padding-bottom: 2vw;
  height: 100%;
}
.subject-heading {
  width: 63.5%;
  text-align: center;
  margin: 0 auto 5%;
}
.tab-box-wrap {
  /* position: relative;
  width: 74.5vw;
  max-width: 1126px;
  max-height: 595px;
  height: 39.6vw;
  aspect-ratio: 1126 / 595;
  background: url(../images/newspaper_bg.png);
  background-position: center center;
  background-size: contain;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url(../images/subject_box.png); */
}
.tab-menu_wrap {
  margin: 0 auto;
  text-align: center;
  width: 63%;
  gap: 0 2rem;
  display: flex;
}
.tab-content_wrap {
  width: 90%;
}
/* tab */
.tab-menu_wrap ul {
  display: flex;
}
.tab-menu_wrap li {
  cursor: pointer;
  width: 186px;
}
.tab-menu_wrap li.active {
  /* 선택된 탭 스타일 */
  font-weight: 700;
}
.tab-content_wrap .tab-content {
  /* display: none; */
}
.tab-content_wrap .tab-content.active {
  /* display: block; */
}
.tab-content_wrap > ul > li {
  /* display: none; */
}
.tab-content_wrap > ul > li.active {
  /* display: block; */
}
.tab-menu_wrap li.active {
  background: #f5a623;
  color: #fff;
}
.tab-content_wrap {
  overflow: hidden;
}
.tab-content_wrap .swiper-slide {
  width: 100%;
}
.chocoTime_sect {
  padding-top: 6.2vw;
  padding-bottom: 7vw;
  background-image: url(../images/chocoTimeBg.png);
  background-image: url(../images/chocoTime.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.chocoTime_btn {
  display: block;
  margin-top: 1.8rem;
  margin-top: 1.5vw;
}
