@import url(../css/font.css);
@import url(../css/reset.css);

html {
  font-size: 18px;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
body {
  color: var(--color-text);
  font-family: var(--font-base);
}
main {
  overflow: hidden;
}
:root {
  --content-width: 66.6667rem;

  /* color */
  --color-primary: #ff6f91;
  --color-text: #333;
  --color-white: #fff;

  /* layout */
  --content-width: 1200px;

  /* font */
  --font-base: "Pretendard", sans-serif;

  /* radius */
  --radius-sm: 8px;
  --radius-md: 16px;
}
.sect_inner {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

.video_sect {
  background: #fdd7e3;
}
.inner {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}
/* top_banner */
.top-banner {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 3.8887rem;
  line-height: 3.8887rem;
  font-size: 1.555rem;
  font-family: "YeogiOttaeJalnan";
  text-align: center;
  background: #ff8aab;
  color: #fff;
}
.btn_first {
  position: relative;
  width: 6.83vw;
  width: 7.3rem;
  width: 11%;
  height: 2.3rem;
  margin-right: 1rem;
  /* align-self: center; */
  font-size: 0;
  line-height: 2.3rem;
  background: url(../images/first_btn.svg) no-repeat 0 100%;
  background-size: 100% 100%;
}
.icon_siren {
  left: -10%;
  position: absolute;
  display: block;
  top: -25%;
  width: 3.42vw;
  width: 47.89%;
  display: inline-block;
  transform-origin: bottom center;
  animation: sirenMove 0.6s ease-in-out infinite alternate;
}

@keyframes sirenMove {
  0% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(8deg);
  }
}
@keyframes sirenMove {
  0% {
    transform: rotate(-7deg);
  }

  25% {
    transform: rotate(7deg);
  }

  50% {
    transform: rotate(-7deg);
  }

  75% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(-7deg);
  }
}
.highlight {
  position: relative;
  position: relative;
  color: #fffe8d;
  /* font-size: 2.53vw; */
  background: url(../images/top_underline.svg) no-repeat 0 100%;
  margin: 0 0.5rem;
}
.top-banner-text {
  /* max-width: 66.6667rem; */
  /* margin: 0 auto; */
  white-space: nowrap;
}
.top-banner .sect_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_arrow {
  position: relative;
  width: 20%;
}
/* intro_sect */
.intro_sect {
  position: relative;
  background: url(../images/graphic.png) no-repeat 50% 100%;
  /* background: url(../images/top.png) no-repeat 50% 100%; */
  /* background: url(../images/sec_introBg.png) no-repeat 50% 100%; */
  background-size: 100% auto;
  background-size: cover;
  padding-top: 40px;
  padding-top: 2.05%;
  padding-top: 2.05vw;
  padding-bottom: 2vw;
  height: 100%;
}
.intro_sect .sect_inner {
  position: relative;
  aspect-ratio: 1200 / 922;
}
.intro_heading {
  width: 69%;
  margin: -2% auto;
  margin: -2.5% 15%;
}
.intro_character {
  width: 66.76%;
  margin: -2% auto;
  margin: 0% 10%;
}
.intro_image {
  position: absolute;
  width: 84.1%;
  top: -1.4%;
}
.intro_guide {
  position: absolute;
  bottom: -25%;
  z-index: 5;
}
header {
  max-width: var(--content-width);
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.logo {
  margin-right: auto;
}

.btn_login {
  font-size: 0.8885rem;
  line-height: 1.1;
  padding: 0.55rem 1.15rem;
  border: 1px solid;
  border-radius: 100px;
  box-sizing: border-box;
}
.ci {
  margin-left: 1.329rem;
}
.quick_menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  right: 0;
  top: 16rem;
  right: 2.55rem;
  width: 9.56rem;
  /* height: 15.5rem; */
  z-index: 12;
  border-radius: 1rem;
  /* border: 2px solid #fff; */
}
.quick_menu::before {
  position: absolute;
  display: block;
  content: "";
  top: -21%;
  top: -4.35vw;
  left: 50%;
  transform: translateX(-50%);
  width: 9vw;
  height: 5.8825vw;
  background-image: url(../images/quick_character.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.quick_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.334rem;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: #fff;
  transition: background-color 0.3s;
}
.quick_link:first-child {
  border-radius: 1.111rem 1.111rem 0 0;
}
.quick_link-top {
  height: 2.223rem;
  border-radius: 0 0 1.111rem 1.111rem;
  background: #5a371e;
}
.quick_link .on {
  display: none;
}
.quick_link.active {
  background: #f48cab;
}
.quick_link.active .normal {
  display: none;
}
.quick_link.active .on {
  display: block;
}
.quick_link img {
  width: auto;
}
/* brand_sect */
.brand_sect {
  position: relative;
  z-index: 1;
  padding-top: 20.55vw;
  padding-top: 15.6%;
  padding-bottom: 128px;
  background: #b0eeaf;
}

.holiday-section {
  position: relative;
  width: 100%;
  height: 59vw;
  max-height: 845px;
  /* height: 45.278rem; */
  /* margin-bottom: 30px; */
  /* margin-bottom: 1.67rem; */
  /* background: url(../images/holidday2.png);
  background-position: 100%;
  background-size: auto;
  background-repeat: no-repeat; */
}
.holiday-section img {
  width: 100%;
}
.holiday-heading {
  max-width: 1116px;
  /* max-width: 1116px; */
  /* height: 13.61rem; */
  text-align: center;
  width: 77.5vw;
  margin: 0 auto;
  width: 93%;
}
.bubble-wrap {
  position: relative;
  width: 74.5vw;
  max-width: 1126px;
  max-height: 595px;
  height: 39.6vw;
  /* width: min(74.5%, 1126px); */
  aspect-ratio: 1126 / 595;
  background: url(../images/newspaper_bg.png);
  background-position: center center;
  background-size: contain;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.bubble {
  position: absolute;
  font-size: 0;
  opacity: 0;
  transform: translateY(25px) scale(0.9);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}
.bubble.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.bubble.news1 {
  width: 40vw;
  max-width: 520px;
  top: 10%;
  right: 7.5%;
}
.bubble.news2 {
  display: block;
  width: 32.5rem;
  width: 38vw;
  height: 100%;
  max-width: 550px;
  top: 34%;
  left: 1%;
}
.bubble.news2::before {
  position: absolute;
  content: "";
  top: -16%;
  left: 12%;
  width: 10rem;
  width: 16%;
  height: 10rem;
  background: url(../images/news_character01.svg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}
.bubble.news3 {
  width: 29vw;
  max-width: 667px;
  right: 10%;
  bottom: 6%;
}
.bubble.news3::before {
  position: absolute;
  content: "";
  top: 34.1%;
  left: 68%;
  width: 17.25rem;
  width: 55%;
  width: 20.5vw;
  max-width: 310px;
  height: 13.7rem;
  background: url(../images/news_character02.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}

form {
  max-width: var(--content-width);
  margin: 0 auto;
}
.form-panel {
  width: 100%;
  margin: 0 auto;
  padding: 4.44445rem 3.33325rem;
  margin-bottom: 2.775rem;
  background: #fff;
  background-image: url("../images/form01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.form-title {
  font-size: 1.77775rem;
  /* font-size: 1.27775rem; */
  font-weight: bold;
  font-family: "GMarketSans";
  word-break: keep-all;
  margin-bottom: 1.777rem;
  letter-spacing: -0.071rem;
}
.form-title .form-desc {
  margin-left: 0.44rem;
}
.form-desc {
  font-size: 1.11rem;
  font-weight: normal;
}
.form-option:last-of-type .form-desc {
  display: block;
  font-size: 1.33rem;
  margin-left: 0;
  margin-top: 0.88rem;
}
.form-group {
  padding-bottom: 2.25vw;
  margin-bottom: 2.25vw;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  /* border-bottom: 1px solid #9e9e9e; */
  background: url(../images/form-divide.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.form-options--chk {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 840px;
  font-size: 1.333rem;
  gap: 0.88rem;
}
.form-options--radio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.333rem;
  gap: 0 1.333rem;
}
.form-options--chk .form-option {
  position: relative;
  max-width: 11rem;
  width: 100%;
  width: 11rem;
  height: 2.7rem;
}
.form-options--radio .form-option {
  position: relative;
}

/* input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  content: "";
  width: 11rem;
  height: 2.7rem;
  border: 1px solid;
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  display: none;
}
input[type="checkbox"]:checked + label {
  display: block;
  content: "";
  width: 11rem;
  height: 2.7rem;
  border: 1px solid saddlebrown;
  background: #ddd;
}
input[type="checkbox"] + label::after {
  transition: all 0.5s;
}
input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 11rem;
  height: 2.7rem;
  top: 0;
  left: 0;
  color: aquamarine;
  background: blue;
  background-size: 100% 100%;
} */
/* checkbox / radio 기본 UI 숨김 */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  pointer-events: none;
}
/* 체크됐을 때 label 디자인 */
/* input[type="checkbox"]:checked {
}
input[type="checkbox"]:checked + label {
} */
.form-option input[type="checkbox"] + label {
  display: block;
  width: 100%;
  height: 2.7rem;
  line-height: 2.7rem;
  border: 1px solid #666666;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}
.form-option input[type="checkbox"]:checked + label {
  font-weight: 700;
  color: #02a39f;
  background: rgba(2, 163, 159, 0.1);
  border-color: #02a39f;
}
.form-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
/* 
.form-option input[type="radio"]::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #888;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
}
.form-option input[type="radio"]::before + label {
}
.form-option input[type="radio"]:checked + label {
  background: #b86b6b;
} */
.form-options--radio label {
  display: flex;
  align-items: center;
  gap: 0 8px;
  gap: 0 0.44rem;
  cursor: pointer;
}
.form-options--radio label::before {
  content: "";
  width: 1.328rem;
  height: 1.328rem;
  border: 1px solid #777;
  background-image: url(../images/check_off.svg);
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  background-position: center center;
  background-size: 100% 100%;
  letter-spacing: -1.44px;
}
.form-option input[type="radio"]:checked + label::before {
  background-color: #00aaa6;
  border-color: #00aaa6;
  background-image: url(../images/check_on.svg);
}
.form-input::placeholder {
  color: #c3c3c3;
}
.form-input_box {
  max-width: 26.71rem;
  width: 100%;
  height: 3.32rem;
  background-image: url("../images/form-inpBox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.form-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 1.217rem;
  border: 0;
  outline: 0;
  background: transparent;
}
.form-textarea_box {
  position: relative;
  width: 100%;
  height: 12.15rem;
}
.form-textarea {
  width: 100%;
  height: 100%;
  padding: 1rem 1.217rem;
  background: #fff;
  background-image: url("../images/form-textareaBox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}
.fomr_texarea-count {
  position: absolute;
  font-size: 1.09rem;
  color: #555555;
  bottom: 1rem;
  right: 1.217rem;
}
.form-submit {
  display: block;
  width: 31.2rem;
  max-width: 31.2rem;
  width: 100%;
  height: 5.55rem;
  font-family: "GMarketSans";
  font-size: 2.775rem;
  font-weight: 700;
  color: #333333;
  background: #fded7c;
  border: 1.5px solid #333333;
  border-radius: 99999px;
  box-shadow: 0 4px 0 0 rgba(51, 51, 51, 1);
  margin: 0 auto;
}

/* video */
.video_sect {
  position: relative;
}
.video_sect {
  padding-top: 4vw;
  padding-bottom: 5vw;
}
.video-heading {
  max-width: 1028px;
  width: 53.45vw;
  width: 85.7%;
  text-align: center;
  margin: 0 auto;
}
.video-card {
  position: relative;
  /* width: 62.5vw; */
  /* top: 331px; */
  /* left: 270px; */
  /* max-width: 1200px; */
  width: 98%;
  /* height: 49vw; */
  /* max-height: 939px; */
  /* background-image: url(../images/videoBoxBg.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 10;
  display: block;
}
video {
  position: absolute;
  left: 4%;
  top: 9%;
  width: 92%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
}
.video-card__clip {
  position: absolute;
  top: 3.5%;
  left: 6.7%;
  width: 2rem;
  z-index: 2;
}
.video-card__poster {
  position: absolute;
  left: 4%;
  top: 9%;
  width: 92%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
  z-index: 2;
}
.video-card__btn {
  position: absolute;
  left: 50%;
  top: 38%;
  width: 9%;
  height: 12%;
  transform: translate(-50%, -50%);
  background-image: url("../images/btn_play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  z-index: 3;
}

.subject_sect {
  position: relative;
  background-image: url(../images/subBg.png);
  background-image: url(../images/subject.png);
  background-size: cover;
  padding-bottom: 7.84vw;
  /* aspect-ratio: 1920 / 1570; */
  padding-top: 5.2vw;
  padding-bottom: 7vw;
  height: 100%;
}
.subject-heading {
  width: 63.5%;
  text-align: center;
  margin: 0 auto 3.2vw;
  margin: 0 auto 3%;
}
.tab-box-wrap {
  position: relative;
}
.tab-menu_wrap {
  position: relative;
  margin: 0 auto 1.5vw;
  text-align: center;
  /* width: 70%; */
  width: 60vw;
  max-width: 815px;
}
.tab-menu_wrap::after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  top: 43%;
  width: 100vw;
  height: 3.5vw;
  height: 46%;
  transform: translate(-50%, -50%);
  background: url(../images/tab_line.png) center / 100% 100% no-repeat;
  z-index: 0;
}
.tab-content_wrap {
  position: relative;
  width: 94%;
  /* width: 61vw; */
  /* height: 57.5vw; */
  /* opacity: 0; */
  position: relative;
  /* width: min(760px, calc(100% - 32px)); */
  margin: 0 auto;
  /* background: url(../images/memoBox01.png) top center / 100% 100% no-repeat; */
  /* background-image: url(../images/memoBox01.png); */
  /* background-size: 100% 100%; */
  box-sizing: border-box;
  /* padding: 60px 50px 70px; */
  /* margin-top: 2rem; */
  /* left: 50%; */
}
.subject_sect .tab-content_list {
  position: absolute;
}
.tab_item {
  position: absolute;
  top: 30%;
  left: 2%;
  left: -20%;
  width: 5%;
  z-index: 5;
}
.tab_item.rope01 {
  left: -16%;
}
.tab_item.rope02 {
  left: 110%;
}
/* tab */
.tab-menu_wrap ul {
  display: flex;
  justify-content: space-between;
  gap: 0 1rem;
}
.tab-menu_wrap li {
  cursor: pointer;
  /* width: 186px; */
  z-index: 2;
}
.tab-menu_wrap li.active {
  /* 선택된 탭 스타일 */
  font-weight: 700;
}
/* .tab-content_wrap .tab-content {
}
.tab-content_wrap .tab-content.active {
} */
.tab-content_wrap > ul > li {
  text-align: center;
}
.tab-content_wrap > ul > li img {
  width: 84%;
  text-align: center;
}
.tab-menu_wrap li .off {
  display: block;
}
.tab-menu_wrap li .on {
  display: none;
}
.tab-menu_wrap li.active .off {
  display: none;
}
.tab-menu_wrap li.active .on {
  display: block;
}
.tab-content_wrap {
  overflow: hidden;
}
.tab-content_wrap .swiper-slide {
  width: 100%;
}
.tab-box-wrap .swiper-prev {
  position: absolute;
  top: 50%;
  left: -3vw;
  width: 3.75vw;
  height: 3.75vw;
  background-image: url(../images/btn_prev.svg);
  background-size: 100% 100%;
  cursor: pointer;
}
.tab-box-wrap .swiper-next {
  position: absolute;
  top: 50%;
  right: -3vw;
  width: 3.75vw;
  height: 3.75vw;
  background-image: url(../images/btn_next.svg);
  background-size: 100% 100%;
  cursor: pointer;
}
.chocoTime_sect {
  padding-top: 6.2vw;
  padding-bottom: 7vw;
  background-image: url(../images/chocoTimeBg.png);
  background-image: url(../images/chocoTime.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.chocoTime_btn {
  display: block;
  margin-top: 1.8rem;
  margin-top: 1.5vw;
}
.notice_sect {
  padding-top: 3.1vw;
  padding-bottom: 3.64vw;
  background-color: #848484;
}
@media (max-width: 1199.98px) {
  html {
    font-size: 16px;
  }
  header {
    width: 94%;
  }
  .sect_inner {
    width: 94%;
  }
  .tab-box-wrap .swiper-prev {
    left: -2vw;
  }
  .tab-box-wrap .swiper-next {
    right: -2vw;
  }
}
@media (max-width: 767.999px) {
  html {
    font-size: 16px;
  }

  .form-submit {
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem;
  }
}
